{% extends 'base.html.twig' %}

{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.css') }}" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ asset('css/nice-select.min.css') }}">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
  <link href="{{ asset('css/font-awesome.min.css') }}" rel="stylesheet" />
  <link href="{{ asset('css/style.css') }}" rel="stylesheet" />
  <link href="{{ asset('css/responsive.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
<a  href="{{ path('user_profile') }}">
                  <b>back</b>
                </a>
    <h1>Réclamation {{ reclamation.id }}</h1>
    <dl>
        <dt>Nom du client :</dt>
        <dd>{{ reclamation.getNomClient }}</dd>

        <dt>Sujet :</dt>
        <dd>{{ reclamation.sujet }}</dd>

        <dt>État :</dt>
        <dd>{{ reclamation.etat }}</dd>
    </dl>
{% endblock %}
